@tailwind base;
@tailwind components;
@tailwind utilities;

.mainImage{
  background-image: url("https://media.istockphoto.com/id/1403848173/vector/vector-online-chatting-pattern-online-chatting-seamless-background.jpg?s=612x612&w=0&k=20&c=W3O15mtJiNlJuIgU6S9ZlnzM_yCE27eqwTCfXGYwCSo=");
}

.chatsPage{
  background-color: #F0F0F0;
}
